In [11]:
print("Hello, world" )
print("Hello, world")
print("Python Programming")

Hello, world
Hello, world
Python Programming

In [72]:
a = int(0.2467 * 12 + 4.159)
print(f"가장 시끄러운 층은 = {a}층")
print("가장 시끄러운 층은 = {}층".format(a))

가장 시끄러운 층은 = 7층
가장 시끄러운 층은 = 7층

In [73]:
print("이렇게", '하면', '여러', '개의', '문자열이', '합쳐집니다.')

이렇게 하면 여러 개의 문자열이 합쳐집니다.

In [71]:
a = int(0.2467 * 12 + 4.159)
print("실행결과:")
print("가장 시끄러운 층은", '=', a, "층")

실행결과:
가장 시끄러운 층은 = 7 층

In [85]:
a = 53000 * 24
print("실행결과:")
print(f"냉장고 가격은 {a} 원 입니다")

실행결과:
냉장고 가격은 1272000 원 입니다

In [97]:
people = 250

book = 20000

inc_tax = book * 1.1

print(f"총 지불 해야 할 금액은 {int(people * (tax * 3))}원 입니다.")

총 지불 해야 할 금액은 16500000원 입니다.

In [101]:
print(1.234e10)

print(1.2323e-4)

12340000000.0
0.00012323

In [111]:
print(0b10001)
print(0b10110)

print(0o21)

print(0x1f)
print(0x16)

17
22
17
31
22

In [122]:
# a 변수 선언 후 숫자 리터럴 10 값을 할당
a = 10

a + 20
# a 변수 값에 20을 더한 결과를 다시 a에 할당

print(a)
a +=  20  #  a = a + 20 과 같다

print(a)
del a

10
30

In [123]:
a = None
print(a)

None

In [145]:
print("don't do that")
print('don\'t\' do that')

don't do that
don't' do that

In [147]:
print("실행결과:")
print('"안녕?"이라는 그 인사를 듣고 나는 \'누구지?\'라고 생각했다')

실행결과:
"안녕?"이라는 그 인사를 듣고 나는 '누구지?'라고 생각했다