In [8]:
s3 = """
안녕하세요.
니는 파이썬을 공부하고있습니다.
반갑습니다.
"""

print(s3)

안녕하세요.
니는 파이썬을 공부하고있습니다.
반갑습니다.

In [21]:
a = """\
실행 결과:
\"안녕하세요.\"
나는 파이썬을 공부하고 있습니다.
반갑습니다.\
"""
print(a)

실행 결과:
"안녕하세요."
나는 파이썬을 공부하고 있습니다.
반갑습니다.

In [25]:
print('실행 결과:')
print("너무 " * 7, "파이썬 공부가 즐겁습니다.")

실행 결과:
너무 너무 너무 너무 너무 너무 너무  파이썬 공부가 즐겁습니다.

In [47]:
word = 'Python'

print(word[:-2])

Pyth

In [48]:
sentence = '중요한 것은 꺾이지 않는 마음'
print(sentence[7])

꺾

In [58]:
word = 'Python'
print(word[0:2])
print(word[:2])
print(word[:-4])
print(word[2:4])
print(word[1:3])
print(word[-5:-3])
print(word[1::2])

Py
Py
Py
th
yt
yt
yhn

In [64]:
sentence = '중요한 것은 꺾이지 않는 마음'
print(sentence[-9:])

꺾이지 않는 마음

In [21]:
sentence = '중요한 것은 꺾이지 않는 마음'
print(sentence[2::-1])
print(sentence[:3][::-1])

한요중
한요중

In [25]:
s7 = '재밌어요' * 10
print(s7)
print(len(s7))

재밌어요재밌어요재밌어요재밌어요재밌어요재밌어요재밌어요재밌어요재밌어요재밌어요
40

In [26]:
a = [1, "da"]
print(a)

[1, 'da']

In [42]:
squares = [1**2, 2**2, 3**2, 4**2, 5**2]
print(squares)

[1, 4, 9, 16, 25]

In [55]:
asa = [1, 3, 5, 7, 8]

asa.append(3)

print(asa)

[1, 3, 5, 7, 8, 3]

In [56]:
cubes = [1, 8, 27, 65, 125]
cubes[3] = 4**3
print(cubes)

[1, 8, 27, 64, 125]

In [59]:
letters = ['a', 'b', 'c', 'd', 'e']

letters[2:5] = ['C', 'D', 'E']

print(letters)

print(len(letters))

['a', 'b', 'C', 'D', 'E']
5

In [62]:
a = ['a', 'b', 'c']
n = [1, 2, 3]

9x = [a, n]

print(x[0])

['a', 'b', 'c']

numbers = [1, 3, 5, 7, 8, 9]
print(5 in numbers)
print(2 not in numbers)
print(2 in numbers)

In [96]:
# [국어, 영어, 한국사, 선택 교과1, 선택 교과2]

scores = [88, 73, 89, 59, 77]
print(scores[0] >= 60 and scores[1] >= 60 and scores[2] >= 60 and scores[3] >= 60 and scores[4] >= 60)

False

In [187]:
numbers1 = [1, 14, 15, 3, 5, 7, 8, 9]
numbers1.append(100)
numbers1.sort()
print(numbers1)

numbers1.insert(0, 0)
numbers1.insert(-1, 0)
numbers1.insert(4, 0)

numbers1.extend([7, 12, 19, 132])

print(numbers1)

print(numbers1.count(9))

numbers1.sort(reverse = True)
print(numbers1)

num2 = sorted(numbers1)
              
print(num2)

[1, 3, 5, 7, 8, 9, 14, 15, 100]
[0, 1, 3, 5, 0, 7, 8, 9, 14, 15, 0, 100, 7, 12, 19, 132]
1
[132, 100, 19, 15, 14, 12, 9, 8, 7, 7, 5, 3, 1, 0, 0, 0]
[0, 0, 0, 1, 3, 5, 7, 7, 8, 9, 12, 14, 15, 19, 100, 132]

In [194]:
numbers2 = [1, 3, 5, 7, 9]
print(numbers2.pop())
print(numbers2)

print(numbers2.index(5))

numbers2.clear()

print(numbers2)

9
[1, 3, 5, 7]
2
[]

#

In [189]:
reverse_test = [1, 2, 3, 4, 5,]

reverse_test.reverse()

print(reverse_test)

[5, 4, 3, 2, 1]

In [190]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)

print(stack.pop())
print(stack)
print(stack.pop())
print(stack.pop())
print(stack)

7
[3, 4, 5, 6]
6
5
[3, 4]

In [199]:
tuple_variable = (1, 3, 5, 7, 9, "hello")

print(tuple_variable)

print(type(tuple_variable))

for i in tuple_variable:
    print(i)

(1, 3, 5, 7, 9, 'hello')
<class 'tuple'>
1
3
5
7
9
hello

In [204]:
import time
start_time = time.time() # 시작하는 시간
test = []
# 1,000,000번을 반복해서 tuple만듭니다.
for _ in range(1_000_000):
    tp = (_, _) # tuple
    test.append(tp)
# 끝나는 시간 - 시작하는 시간
print(time.time() - start_time)
# 동작한 시간

0.32904911041259766

In [206]:
start_time = time.time()
test = []
for _ in range(1_000_000):
    tp = [_, _] # list
    test.append(tp)
print(time.time() - start_time)

0.8064217567443848

In [2]:
name = input("이름을 입력하시오:")
print(f'{name}씨, 안녕하세요?\n파이썬에 오신 것을 환영합니다.')
first_ = int(input("첫 번째 정수를 입력하세요:"))
second_ = int(input("두 번째 정수를 입력하세요:"))
print(f'{first_} 과 {second_} 의 합은 {first_ + second_} 입니다.')

이름을 입력하시오: ad

ad씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요: 1
두 번째 정수를 입력하세요: 2

1 과 2 의 합은 3 입니다.

In [9]:
place = input("경기장은 어디입니까? ")
winner = input("이긴 팀은 어디입니까? ")
looser = input("진팀은 어디입니까? ")
mvp = input("우수 선수는 누구입니까? ")
score = input("스코어는 몇대몇입니끼? ")

print(f"[속보] {winner} 가 {score}로 승리...")
print(f"오늘 {place} 경기장에서 야구 경기가 있었습니다")
print(f"{winner} 와 {looser} 는 치열한 공방전을 펼쳤습니다.\n이 경기에서 {mvp} 가 맹활약을 했습니다\n그 끝내 {winner} 가 {looser} 를 {score} 로 승리하였습니다.\n기사 끝.")

경기장은 어디입니까?  고척
이긴 팀은 어디입니까?  KT
진팀은 어디입니까?  LG
우수 선수는 누구입니까?  강백호
스코어는 몇대몇입니끼?  10:9

[속보] KT 가 10:9로 승리...
오늘 고척 경기장에서 야구 경기가 있었습니다
KT 와 LG 는 치열한 공방전을 펼쳤습니다.
이 경기에서 강백호 가 맹활약을 했습니다
그 끝내 KT 가 LG 를 10:9 로 승리하였습니다.
기사 끝.

In [14]:
result = '1, 2, 3'.split(', ')
print(type(result))
print(result)

<class 'list'>
['1', '2', '3']

In [36]:
time = "12:33:23".split(':')
h = time[0]
m = time[1]
s = time[2]
print(f"시 : {h}\n분 : {m}\n초 : {s}")

시 : 12
분 : 33
초 : 23

In [38]:
h, m, s = input("hh:mm:ss 의 형태로 시간을 입력해주세요").split(':')
print(f"시 : {h}")
print(f"분 : {m}")
print(f"초 : {s}")

hh:mm:ss 의 형태로 시간을 입력해주세요 12:33:23

시 : 12
분 : 33
초 : 23

In [6]:
a = [1.2, 2.2, 3.2, 4.2]
a = list(map(int,a))
print(a)

[1, 2, 3, 4]

국어, 영어, 수학, 과학 점수를 입력해 주세요 98,100,96,100

평균 점수는 98.5입니다.

In [32]:
print(score)

<map object at 0x00000133D2ECDCD0>

In [38]:
score[0]+sc

[1, 1, 1, 1]

In [5]:
kor, eng, math, sci = input("국어, 영어, 수학, 과학 점수를 입력하세요").split(',')
score = list(map(int, [kor, eng, math, sci]))
print(f"평균 점수는 {sum(score) / 4} 입니다.")

국어, 영어, 수학, 과학 점수를 입력하세요 12,13,14,15

평균 점수는 13.5 입니다.

'98'