In [7]:
for i in range(1, 11):
    print(i, end=" ")

-------------------------------
    
i = 1
while i <= 10:
    print(i, end=" ")
    i += 1

1 2 3 4 5 6 7 8 9 10 1 2 3 4 5 6 7 8 9 10

In [6]:
i = 1
while i <= 10:
    print(i, end=" ")
    i += 1

1 2 3 4 5 6 7 8 9 10

In [5]:
class_a = (70, 60, 55, 75, 95, 90, 80, 80, 85, 100)
i = 0
total = 0
while i < len(class_a):
    total += class_a[i]
    i += 1
print(total / 10)

79.0

In [15]:
i = 0
total = 0
while True:
    i += 1
    total += i
    if i == 100:
        break
print(total)

5050

In [20]:
while True:
    input_value = input("q를 입력하면 종료됩니다.")
    if input_value == "q": break
print("프로그램을 종료합니다")

q를 입력하면 종료됩니다. q

프로그램을 종료합니다

In [31]:
# continue 제어흐름을 유지하고, contunue가 실행된 반복 횟수의 코드 실행만 건너뜁니다.

for i in range(100):
    if i % 2 == 1:
        continue
    print(i, end="\t")

0	2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98

In [55]:
start_num = int(input("시작하는 정수 입력:"))
end_num = int(input("끝나는 정수 입력 :"))
i = end_num
j = start_num
total = 0

while j <= i:
    total += j
    j += 1
print(total)

시작하는 정수 입력: 4
끝나는 정수 입력 : 7

22

In [68]:
start_num = int(input("시작하는 정수 입력:"))
end_num = int(input("끝나는 정수 입력 :"))
total = 0
count = start_num
for i in range(start_num, end_num + 1):
    total += count
    count += 1
    
print(total)

시작하는 정수 입력: 1
끝나는 정수 입력 : 10

55

In [89]:
dic_var = {"key": "value", "as": "dwd"}

print(type(dic_var))

print(dic_var)
dic_vaar = {3 : 4}
print(dic_var)
print(dic_vaar)

<class 'dict'>
{'key': 'value', 'as': 'dwd'}
{'key': 'value', 'as': 'dwd'}
{3: 4}

In [86]:
#() => tuple
#[] => list
#{} => dictionary(key"value), set(key)

In [103]:
dic = {"key": "value", "key": "last value"}

print(dic)

{'key': 'last value'}

In [241]:
di = {'key': 'value',
      1: 'value2',
      1.1: 'value3',
      True: 'value4',
      ('key', 1, 1.1, True): 'value2'}

print(list(map(type, di.keys())))
print(di.values())

[<class 'str'>, <class 'int'>, <class 'float'>, <class 'tuple'>]
dict_values(['value', 'value4', 'value3', 'value2'])

In [111]:
#딕셔너리 자료형에서 값(value)는 모든 자료형을 사용할 수 있다.

In [112]:
empty_dict = {}
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [116]:
empty_dictt = dict()
print(empty_dictt)
print(type(empty_dictt))

{}
<class 'dict'>

In [121]:
# dict() 함수에 키워드 인자값을 활용하면 딕셔너리를 만들 수 있습니다. 함수에 사용하는 
# 키워드 인자의 키워드 부분은 변수명처럼 따옴표(","")를 사용하지 않습니다.
            이부분           이부분           이부분
dict_a = dict(key1 = "value", key2 = "value2", key3 = "value3")

print(dict_a)

{'key1': 'value', 'key2': 'value2', 'key3': 'value3'}

In [122]:
# 키와 값 한 쌍을 갖는 시퀀스 객체를 요소로갖는 시퀀스 객체를 생성하여 딕셔너리
# 자료형으로 만들 수 있습니다.

In [159]:
# zip() 함수를 통하여 키와 값 한 쌍을 갖는 튜플을 요소로 갖는 객체로
# 딕셔너리 자료형을 생성할 수 있습니다.

dict_b = dict(zip(["key", "key2", "key3"], ["value", "value2", 'value3']))
print(dict_b)
print(zip(["key", "key2", "key3"], ["value", "value2", 'value3']))

[_ for _ in zip(["key", "key2", "key3"], ["value", "value2", 'value3'])]

print(dict_b['key2'])

dict_b['key'] = 'super value'
print(dict_b)

dict_b[32] = "삼십이"

print(dict_b)
print("super value" in dict_b.values())
print(dict_b)

{'key': 'value', 'key2': 'value2', 'key3': 'value3'}
<zip object at 0x000002605A3F2640>
value2
{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 32: '삼십이'}
True
{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 32: '삼십이'}

In [238]:
keys = ("key1", "key2", "key3")
values = ("value1", "value2", "value3")
sam_list = []
for index in range(len(keys)):
    sam_list.append((keys[index], values[index]))
print(sam_list)

[('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')]

In [160]:
len(dict_b)

4

In [167]:
fruit_and_price = dict(zip(['사과', '바나나', '오렌지', '파인애플'], [1000, 1500, 2000, 700]))

fruit = input("과일 이름을 입력하세요.")

print(f"{fruit}의 가격은 {fruit_and_price[fruit]}원 입니다.")

과일 이름을 입력하세요. 파인애플

파인애플의 가격은 700원 입니다.

In [172]:
fruit_and_price ={'사과': 1000, '파인애플': 2000}
print(fruit_and_price)

fruit = input("과일 이름을 입력하세요.")

print(f"{fruit}의 가격은{fruit_and_price[fruit]}")

{'사과': 1000, '파인애플': 2000}

과일 이름을 입력하세요. 파인애플

파인애플의 가격은2000

In [180]:
dic = dict(zip([123, 23, 3, 45, 545], [12323, 323, 333, 4, 554]))

print(dic)

a = [1, 2, 3, 4, 5]

list(map(lambda v:v*10, a))

{123: 12323, 23: 323, 3: 333, 45: 4, 545: 554}

[10, 20, 30, 40, 50]

In [183]:
def multy(x):
    for i in range(1, 10):
        print(f"{x}*{i}={x * i}")
multy(1)
multy(2)

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

In [ ]:
name = input("이름을 기입해주세요.")
weight = input("몸무게를 입력해주세요.")

new_name = list(name.split(" "))
new_weight = list(weight.split(" "))

dic = dict(zip([new_name[0], new_name[1], new_name[2], new_name[3]], [new_weight[0], new_weight[1], new_weight[2], new_weight[3]]))

print(dic)

이름을 기입해주세요. 뽀로로 루피 크롱 스누피
몸무게를 입력해주세요. 20.4 16.2 22.3 5.2

{'뽀로로': '20.4', '루피': '16.2', '크롱': '22.3', '스누피': '5.2'}

In [245]:
name = list(map(str, input("이름을 기입해주세요").split(" ")))
weight = list(map(float, input("몸무게를 입력해주세요.").split(" ")))

dic = dict(zip(name, weight))
print(dic)

이름을 기입해주세요 123 123 123 123
몸무게를 입력해주세요. 123 123 123 123

{'123': 123.0}

In [234]:
name = list(map(str, input("이름을 기입해주세요").split(" ")))

print(name)

이름을 기입해주세요

['']

In [246]:
# 딕셔너리 자료형은 비 시퀀스 자료형(순서가 없음, 인덱스를 붙일 수 x)
# 이 자료형은 고유한 키()key)값을 갖습니다. 이 키(key)는 1 대 1로 매칭되는 값(value)룰 갖음.
# 이를 key-value pair라고 하며 딕셔너리 자료형의 특징입니다.
# key value => key-value pair

In [248]:
# 리스트 생성 방법 - 대괄호 사용
# 리스트는 기본적으로 대괄호([])를 활용합니다. 대괄호 안에는 리스트를 구성할 요소를
# 작성하는데 콤마로 구분하여 요소 여럿을 작성할 수 있었습니다.
# 리스트의 자료형은 class 'list' 입니다. list 클래스로 만들어진 객체라는의미입니다.

SyntaxError: unexpected EOF while parsing (922396806.py, line 6)

In [252]:
prac_result = []
for n in range(1, 10):
    prac_result.append(n*n)
print(type(prac_result))
print(prac_result)

<class 'list'>
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [257]:
prac_result = [x ** 2 for x in range(1,10)]

print(type(prac_result))
print(prac_result)

<class 'list'>
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [266]:
prac_result = [n for n in range(10) if n % 2 == 0]

print(prac_result)

[0, 2, 4, 6, 8]

In [352]:
food = [(x, y) for x in ["쌈밥", '치킨', '족발'] for y in ['레몬', '아이스크림', '커피']]
print(food)

[('쌈밥', '레몬'), ('쌈밥', '아이스크림'), ('쌈밥', '커피'), ('치킨', '레몬'), ('치킨', '아이스크림'), ('치킨', '커피'), ('족발', '레몬'), ('족발', '아이스크림'), ('족발', '커피')]

In [351]:
prac_result2 = [x for x in range(1, 10, 2) if x % 2 == 1]
print(prac_result2)

[1, 3, 5, 7, 9]

In [291]:
prac = [(8 * y) for x in range(1) for y in range(1, 10)]
print(prac)

[8, 16, 24, 32, 40, 48, 56, 64, 72]

In [313]:
prac_ = [i for i in 'abcdefg']
print(prac_)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [478]:
prac_result4 = [[str(x) for x in range(2,11)] + [i for i in "JQKA"]]
print(prac_result4)

[['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']]

In [486]:
prac_result5 = [prac_result4 for _ in range(4)]
print(prac_result5)
print(len(prac_result5))

[['two'], ['two'], ['two'], ['two']]
4

In [485]:
prac_result4[0]='two'

In [423]:
print("prac_result4의 if:", id(prac_result4))

prac_result4의 if: 2612855941248

In [ ]:
prac_result6 = [prac_result4[:] for

In [424]:
# 리스트 전체 범위 slicing을통한 리스트 복사
# 리스트 객체를 slicing을 통해 리스트 전체 범위를 반환받았을 때 그 리스트는 원래의
# 리스트와 같은 객체일까요?
# 아닙니다. 리스트의 슬라이싱의 결과는 새로운 객체를 복사한 결과를 반환합니다.
# 리스트변수[:] => 새로은 객체를 만들어 반환한다.

In [491]:
# [1, 2, 3, 4, 5, 6, 7, 8, 9]
# type(variable) is int
old_list = list(range(10))
new_list = old_list[:]

print(id(old_list))
print(id(new_list))
print(old_list is new_list)
print(old_list == new_list)

2612854180608
2612852804672
False
True

In [502]:
# 문자열, 튜플의 경우에는 불변(immutable)의 특징을 갖습니다. 따라서 요소가 동일하다면
# 재사용해도 문제 될 것이 없다. 그래서 효율을 위해 동일하게 복사 하기도 함.
old_list = tuple(range(10))
new_list = old_list[:]

print(id(old_list))
print(id(new_list))
print(old_list is new_list)
print(old_list == new_list)

2612853693504
2612853693504
True
True

In [496]:
## 리스트 컴프리헨션

# 리스트 컴프리헨션의 다른 방식입니다. 대괄호([]) 대신 list() 함수를 사용하고 있다.
#동작 순서는 대괄호([])방식과 동일

list_d = list(i**3 for i in range(10))
print(list_d)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
# 리스트 객체를 담고 있는 변수는 메모리 주소 정보를 담고 있다.
# 그리고 그 변수를 다르 ㄴ변수에 대입하면 메모리 주소 정볼를 복사한다.
# 즉 그 두 변수는 동일한 객체를 바라보게 된다


# 리스트 변수를 다른 변수에 할당해서 복사한 경우에 객체가 아예 같다고 나오는 것을 확인 가능

In [501]:
# 리스트.copy()메서드는 리스트 객체를 새롭게 복사한다. 이 반환 값은 새로운 객체가 된다.

list_g = list(range(10))
list_a = list_g
list_h = list_g.copy()
print(id(list_g))
print(id(list_h))
print(list_g is list_h)
print(list_g is list_a)

list_g[0] = 999
print(list_a)
print(list_g)
print(list_h)

2612858563904
2612859759424
False
True
[999, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[999, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [526]:
list_i = [[0]] * 3
print(list_i)
list_i[0][0] = 999
print(list_i)

[[0], [0], [0]]
[[999], [999], [999]]

In [530]:
## 깊은 복사(Deep copy)
# 리스트 내 요소가 메모리 주소를 담고있는 객체더라도 객체를 완전하게 깊이에 상관없이 다
# 새롭게 복사해 만듭니다. 전혀 다른 메모리 공간을 차지하는 완전한 리스트로 복사.
# 두 리스트 간에 값은 같으나(==) 객체는 완전히 다릅니다.

import copy
list_n = [[9, 10], [11, 12]]
list_p = copy.deepcopy(list_n)
print(list_n[0] is list_p[0])

list_n[0][1] = 999
print(list_n)
print(list_p)

False
[[9, 999], [11, 12]]
[[9, 10], [11, 12]]